/*Importando as fontes pelo google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

/*Definindo que qualquer elemento use o que tiver dentro do escopo*/
* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: #ffffff;
    background-color: #000000;
}

a,
a:hover,
a:visited {
    color: unset;
    /*mantém a cor padrão*/
    text-decoration: none;
    /*tira o sublinhado*/
}
.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#sales {
    padding: 40px 10px;
}
